@import "../../../styles/helpers/main";

.d-LanguageSelector {
  position: relative;
  z-index: 10;
  text-align: center;
  line-height: 0;

  img {
    border: 1px solid white;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;

      & ~ .languagepicker {
        visibility: visible;
      }
    }
  }

  @media #{$screen-tablet} {
    border-left: none;
    img {
      width: 20px;
      height: 20px;
    }
  }

  %hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-20px);
  }

  .languagepicker {
    position: absolute;
    top: 3em;
    right: -1em;
    background-color: black;
    display: inline-block;
    transition: all 0.3s ease;
    vertical-align: top;
    float: right;
    z-index: 10;
    width: 64px;
    padding: 15px 0px;
    border-radius: 10px;
    line-height: 32px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin: 0;

    li:last-child {
      line-height: 0;
    }

    &.hidden {
      @extend %hidden;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    }
  }

  .languagepicker:hover {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    transform: translateY(0px);
  }

  .languagepicker a {
    color: #000;
    text-decoration: none;
  }

  .languagepicker li {
    display: block;
  }

  .languagepicker li:hover {
    transform: scale(1.1);
  }

  .languagepicker li:last-child {
    //line-height: 0;
  }

  .languagepicker li img {
  }
}
