.d-FilterList {
  margin: 5vh 8vw 5vh 4vw;
  position: relative;

  --opacity-default: 0.2;
  --opacity-selected: 1;
  --filter-size: 1;
  --filter-size-default: 3.5vh;
  --filter-align: left;
  --filter-alignVal: 0;

  @media #{$screen-tablet} {
    --filter-size-default: 3vh;
  }
  @media #{$screen-mobile} {
    --filter-size-default: 4vw;
  }

  .d-filter-stick {
    @media #{$screen-mobile-up} {
      position: fixed;
      max-width: 45vh;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .input-checkbox-invisible {
    font-size: calc(var(--filter-size-default) * var(--filter-size));
    .switch {
      line-height: 1.1;
      transition: all var(--transition-ui);
      transform-origin: left;
      opacity: var(--opacity-default);
      font-family: var(--font-secondary);
      text-align: var(--filter-align);
      left: var(--filter-alignVal);
      position: relative;
      display: inline-block;
      padding-left: 0;

      &:before {
        content: '';
        top: 50%;
        left: 0;
        position: absolute;
        height: 0.1em;
        transform: translateY(-50%);
        width: 100%;
        background-color: currentColor;
        transition: 0.5s all ease-out;
      }

      &:hover {
        //opacity: 0.5;
        text-decoration: none;

        &:before {
          width: 0%;
        }
      }
    }
  }

  .filter-selected .switch {
    opacity: var(--opacity-selected);
    transform-origin: left;
    text-decoration: none;
  }

  .filter-selected:not(.filter-over) .switch {
    &:before {
      width: 0%;
    }

    &:hover {
      opacity: 1;

      &:before {
        width: 100%;
      }
    }
  }

  .filter-selected.filter-over .switch {
    &:before {
      width: 0%;
    }

    &:hover {
      opacity: 1 !important;

      &:before {
        width: 0;
      }
    }
  }

  .filter-over:not(.filter-selected) .switch:hover {
    &:before {
      width: 100%;
    }
  }

}
