body {
  margin: 0;
  font-family: var(--font-primary), -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;
  object-fit: contain;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0px;
  th,
  td {
    padding: 5px;
    //border-bottom: 1px solid #ccc;
  }
}

p {
  margin-bottom: 1em;
}
