$appearing-animation-speed: 750ms cubic-bezier(0.35, 1, 0.45, 1);

@keyframes shake {
  //10%, 90% {
  //  transform: translate3d(0px, -1px, 0);
  //}

  20%,
  80% {
    transform: translate3d(0px, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0px, 0px, 0);
  }

  40%,
  60% {
    transform: translate3d(0px, 2px, 0);
  }
}
/*-----------------------------------------------*/
.fadeup-enter {
  opacity: 0;
}

.fadeup-exit-active {
  //display: none !important;
}

.fadeup-enter.fadeup-enter-active {
  opacity: 1;
  transition: $appearing-animation-speed;
}

.fadeup {
  opacity: 0;
  transform: translate3d(0, 80px, 0);
}

.fadeup-initial {
  opacity: 0;
  transform: translate3d(0, 80px, 0);
  transition: all $appearing-animation-speed;
}

.fadeup-initial.fadeup-enter-done,
.fadeup-initial.fadeup-appear-done {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all $appearing-animation-speed;
}

.movedown-initial.movedown-appear {
  transform: translate3d(0, -100%, 0);
  transition: transform $appearing-animation-speed;
}

.movedown-exit-active {
  display: none !important;
}

.movedown-initial.movedown-appear-done {
  transform: translateY(0%);
  transition: transform $appearing-animation-speed;
}

.movedown-initial.movedown-enter {
  transform: translate3d(0, -100%, 0);
  transition: transform $appearing-animation-speed;
}

.movedown-initial.movedown-enter-done {
  transform: translateY(0%);
  transition: transform $appearing-animation-speed;
}

.movedown-initial {
  transition: transform $appearing-animation-speed;
  transform: translateY(-100%);
}

// React CSS Transitions

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

//--------------------------PROJECT FILTERS------------------
.d-project-grid {
  &.filter-exit {
    opacity: 1;
    transition: 0.25s;

    &-active {
      opacity: 0;
    }
  }

  &.filter-enter {
    opacity: 0;
    transition: 1s;

    &-active {
      opacity: 1;
    }
  }

  &.filter-exit {
    .d-card-container .d-card {
      transition: 1s ease-in;
    }
  }
  &.filter-enter{
    .d-card-container .d-card{
      transition: 1s ease-out;
    }
  }

  &.filter-enter .d-card-container {

    &:nth-of-type(even) .d-card {
      transform: translateY(100%);
    }

    &:nth-of-type(odd) .d-card {
      transform: translateY(-100%);
    }
  }

  &.filter-enter-active,
  &.filter-enter-done {
    .d-card-container {
      opacity: 1;
      overflow: unset !important;
      &:nth-of-type(even) .d-card {
        transform: translateY(0px);
      }

      &:nth-of-type(odd) .d-card {
        transform: translateY(0px);
      }

    }
  }
}
