@each $heading in (h1, h2, h3, h4, h5, h6, body, label, small) {
  #{$heading} {
    // The function will set css properties for 'wide' as default
    @include setTypeStylesAll('#{$heading}');
    max-width: 100%;
  }
}

.tiny {
  @include setTypeStylesAll('tiny');
  opacity: 0.5;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;

  &:visited {
    color: inherit;
  }
}

strong,
b {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}

hr {
  height: 1px;
  width: 100%;
  border: 0;
  background-color: var(--color-highlight);
  margin-top: var(--gap-layout);
  margin-bottom: var(--gap-layout);
}
