@import './../elements/elements';
@import './../components/components';
@import './../containers/containers';

// Until we start on the Image Compoinent
.d-image {
  img {
    object-fit: cover;
    display: block;
  }
}

.d-filter-project-block {
  display: flex;

  .d-FilterList {
  }

  .d-project-block {
    width: 100%;

    .d-project-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
      grid-gap: 10vh;
      align-items: flex-start;
      scroll-snap-type: y mandatory;
      overflow: scroll;
      height: 100vh;

      .d-card {
        height: calc(50vh - 5vh);
        overflow: hidden;
        display: flex;
        justify-content: start;
        flex-direction: column;
        //min-width: 400px;

        &:nth-of-type(even) {
          scroll-snap-align: end;
          margin-left: 8vw;
          margin-right: -8vw;
          justify-content: flex-end;
        }

        &:last-of-type{
          scroll-snap-align: end;
        }
      }
    }
  }
}
