.d-card {
  position: relative;
  transition: 0.75s;
  z-index: 1;

  &__body {
    background-color: var(--color-highlight-lighter);
    padding: var(--spacing-gap) var(--spacing-gap-sm);
  }

  &__image {
    line-height: 0;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    z-index: -1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: left;
    }
  }
  &__header {
  }

  &__title {
    display: block;
    margin: 0 0 var(--spacing-gap) 0;
  }

  &__subtitle {
    display: block;
    position: relative;
  }

  &__description {
    margin-bottom: var(--spacing-gap-tablet);

    @media #{$screen-mobile} {
      margin-bottom: var(--spacing-gap);
    }
  }
  
  &:hover{
    //transform: scale(0.95);
  }
}
