%title-strip {
  height: 32px;

  @media #{$screen-tablet} {
    height: 20px;
  }

  @media #{$screen-mobile} {
    height: 18px;
  }
}

.d-card {
  position: relative;

  &__body {
    background-color: var(--color-highlight-lighter);
    padding: var(--spacing-gap) var(--spacing-gap-sm);
  }

  &__image {
    line-height: 0;
  }
  &__header {
  }

  &__title {
    display: block;
    margin: 0 0 var(--spacing-gap) 0;
  }

  &__subtitle {
    display: block;
    position: relative;
  }

  &__description {
    margin-bottom: var(--spacing-gap-tablet);

    @media #{$screen-mobile} {
      margin-bottom: var(--spacing-gap);
    }
  }
}
