.d-Tag {
  display: inline-block;
  padding: 1em 0.5em 0.9em;
  box-sizing: initial;
  line-height: 0;
  margin-right: 0.7em;
  margin-bottom: 0.7em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-family: var(--font-headings);

  &.appearance-block {
    border: 1px solid currentColor;
    box-shadow: 0px 2px 0px currentColor;
    border-radius: 2px;
  }

  &.appearance-raised {
    padding: 1.2em 0.75em 1.1em;
    box-shadow: 0px 1px 0px var(--color-highlight-secondary);
    border-radius: 0px;
    background-color: var(--color-bg);
  }
}

.d-Tag-container {
  margin-bottom: -0.4em;
}
