.d-footer {
  --color-footer-bg-first: var(--color-bg-primary-darker);
  --color-footer-bg-mid: var(--color-bg-primary);
  --color-footer-bg-last: var(--color-bg-primary-lighter);

  &__first-block {
    background-color: var(--color-footer-bg-first);
  }

  &__mid-block {
    background-color: var(--color-footer-bg-mid);
    padding: var(--spacing-gap-mobile) 0;
  }

  &__last-block {
    background-color: var(--color-footer-bg-last);
  }
  //ToDo: should be removed if newsletter is component itself
  &__newsletter {
    > div {
      display: flex;
      align-items: center;
      @media #{$screen-mobile} {
        display: block;
      }
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: var(--spacing-gap-m);
      flex-grow: 0.6;
      @media #{$screen-mobile} {
        margin-left: 0;
      }
    }
    .field {
      display: flex;
      align-items: center;
      flex-grow: 1;
      margin-right: var(--spacing-gap-m);
      margin-bottom: 0;
    }

    @media #{$screen-mobile} {
      order: 2;
      padding: var(--spacing-gap-xs) 0 var(--spacing-gap-m);
    }
  }
  &__social {
    display: flex;
    align-items: center;
    @media #{$screen-mobile} {
      display: block;
    }

    &-title {
      margin-right: var(--spacing-gap-xs);
    }
    &-links {
      flex-grow: 0.5;
      display: flex;
    }

    .d-social-link {
      margin-right: var(--spacing-gap-xs);
    }
  }
  &__sitemap {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: var(--spacing-gap-xs) 0;
    &-item {
      width: 30%;

      @media #{$screen-mobile} {
        padding: var(--spacing-gap-mobile) var(--spacing-gap-mobile) 0 0;
        width: auto;
      }
    }
  }
  &__app {
    &-title {
      @media #{$screen-mobile} {
        text-align: center;
        display: none;
      }
    }
    &-icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media #{$screen-mobile} {
        justify-content: space-evenly;
      }
    }
  }
  .layout-grid {
    align-items: center;
  }
  &__copyright {
    padding: var(--spacing-gap-xs) 0;
    align-items: center;
  }
  &__brand {
    &-title {
      margin: 1em;
    }
    display: flex;
    align-items: center;
    padding-top: var(--spacing-gap-m);
  }
}
