.d-Tooltip {

  left: 0;
  top: 0;
  width: 360px;
  background: var(--color-highlight-lighter);
  overflow: hidden;
  position: fixed;
  z-index: var(--z-index-xs);
  animation: modal-fade-animation-out var(--transition);
  opacity: 0;
  transition: var(--transition-ui);

  &.active {
    display: block;
    animation: modal-fade-animation var(--transition);
  }
  
  //@extend .border-anim-meet;
}

.tooltip-enter-done{
  opacity: 1;
}
