

.d-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 0; //to make IE flexboxes work

  .d-cookie-banner {
    position: relative;
    z-index: 103;
  }

  .d-content {
    flex: 1 0 auto;
    position: relative;

  }

  .d-footer {
    flex-shrink: 0;
  }
}
